@page
@using Themis.Services.Portal.Pages
@model GdprModel
@{
    ViewData["Title"] = "GDPR";
}
<h2>@ViewData["Title"]</h2>

<h3>Request for stored personal data</h3>
<p>
    Enter your email address
</p>

<div asp-validation-summary="All"></div>
<form method="POST">
    <div><label asp-for="EmailAddress"></label> <input asp-for="EmailAddress" required="1" /></div>
    <button type="submit">Request User Data</button>
</form>
