@page
@using Themis.Services.Portal.Pages.Gdpr.Consolidation
@model ConsolidationStartedModel
@{
    ViewData["Title"] = "GDPR - Data Consolidation";
}
<h2>@ViewData["Title"]</h2>

<p>
 We have successfully started consolidating all user information for @Model.EmailAddress
</p>